{% load static %}

<!--This is a project level html file that contains the overall -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'project_apps/css/styles.css' %}">
    <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>

    {% block static_head %}
            <!--Use to add static files within other html files -->

    {% endblock  %}


    {% block title %}
        <!--Use to change the title of the new html view -->
        <title>HCI Project</title>

    {% endblock  %}
</head>
<body>
    <div class="header">

        <div class="left-section">
            FOURTH FOODS LOGO
        </div>

        {% if user.is_authenticated %}
        <!-- Logged In Nav Bar-->
        <div class="middle-section">
            <ul class="navigation">
                <li><a href="{% url 'project_apps:home' %}" class="navigator">Home</a></li>
                <li><a href="{% url 'project_apps:create' %}" class="navigator">Create</a></li>
                <li><a href="{% url 'project_apps:history' %}" class="navigator">History</a></li>
            </ul>

        </div>

        <div class="right-section">
            <ul class="navigation">
                <li><a href="{% url 'logout' %}?next={{request.path}}" class="navigator">Logout</a></li>
            </ul>
        </div>
        
        {% else %}
        <!--Not Logged In Nav Bar-->
        <div class="middle-section">
            <ul class="navigation">
                <li><a href="{% url 'project_apps:home' %}" class="navigator">Home</a></li>
                <li><a href="{% url 'project_apps:features' %}" class="navigator">Features</a></li>
                <li><a href="{% url 'project_apps:about' %}" class="navigator">About</a></li>
            </ul>
        </div>

        <div class="right-section">
            <a href="{% url 'login' %}"> 
                <button type="button" class="login-button">Login</button>
            </a>
            <a href="{% url 'project_apps:signup' %}">
            <button type="button" class="signup-button">Sign-up</button>
            </a>
        </div>
        {% endif %}
        
      </div>


      
      {% block content %}
      
      {% endblock %}
      
    </body>
</html>