.body-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    margin-left: 20px;
    column-gap: 45px;    
}

.text-left{ 
    margin-left: 5%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: white;
    max-width: 100%;
    text-align: center;
    }
h1 {
    padding-top: 20%;
    height: 80%;
    width: 100%;
}
hr{
    border: 30px solid rgb(240, 66, 66);
    border-radius: 5px;
}
.image-right{
    margin-right: 10%;
    width: 88%;
    height:100%;
    object-fit: cover;
}

img {
    width: 80%;
    height: 100%;
}


.white{
    color: white;
}
